inst/doc
doc
Meta
.Rproj.user
.Rhistory
.RData
.Ruserdata
.RDataTmp
.project
.settings
README.Rmd
*.tex
*.aux
*.log
*.pdf
*.out
*.o
*.so
*.gz
/doc/
/docs/
/Meta/
.vscode
pdSpecEst.Rproj
/docker/
pdSpecEst.Rcheck